html {
    font-size: 10px;

}

*{
    font-family: Lato!important;
}



.kss-nav__menu-link {

    font-size: 13px;
    color: #0E6EE0!important;

}

.kss-header {
    background: #0E6EE0!important;
}

.kss-nav__menu-link:hover {

    border-left: none!important;
    color: rgb(68, 213, 173)!important;

}

.kss-nav__menu-link--active {
    border-left: none!important;
    background: #0E6EE0!important;
    color: #fff!important;
}

.kss-nav__menu-link--active .kss-nav__ref {
    color: #fff!important;
}

.kss-container {
    padding: 20px;
}

@media screen and (min-width: 1300px) and (min-width: 768px){
    .kss-container {

        max-width: 100%;

    }
}

.kss-modifier__example +div {
    width: 100%;
}

@media (min-width: 768px){

    .kss-sidebar {
        width: 15%;
    }

    .kss-main {
        width: 85%;
    }

}