<a href="#" class="sii-a-icon-button {{modifier_class}}">
    <span>{{#if text}}
    {{text}}
    {{else}}
    Read More
    {{/if}}</span><svg class="icon icon-arrow-right2"><use xlink:href="{{svg-arrorow-right}}"></use></svg>
</a>


