// define button layout variants
@mixin button-label-core {

	text-transform: uppercase;
	position: relative;
	color: get-btn-color(default);
	border: $button-default-border;
	padding: $button-default-padding;
	z-index: 0;
	font-size: 1.4rem;
	line-height: $button-default-line-height;
	display: inline-block;
    text-align: center;
    font-weight: 600;


	&:focus {
		outline: none;
	}

	&:hover {

		text-decoration: none;
		cursor: pointer;

	}



	&:hover {

		&:after {

			width: 100%;
			transition: $default-transition;

		}

	}

}
