// Define content article rythm
@mixin box-content {



	h4 {

		@include type-setting(2.4);
		font-weight: 600;
		margin-bottom: 2rem;


		a{

			@include reset-link();

		}


	}

	p {

		@include type-setting(-1);
		margin-bottom: 1.25rem;

	}

	h5 {

		@include type-setting(0)

	}

}
