

@mixin btn-specify($version) {

  background: get-btn-background($version);
  color: get-btn-color($version);
  border-radius: $button-border-radius;
  padding: $button-specified-padding;
  min-width: 17rem;


  &:hover {

    @if $version!='ghost' {

    transition: $default-transition;
    background: darken(get-btn-background($version), 15%);
    box-shadow: $button-shadow;

  }




  }
}


@mixin reset-list() {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin badge-default($background, $fill) {
  width: 7rem;
  height: 7rem;
  min-width: 7rem;
  display: flex;
  padding: 0;
  border-radius: 100%;
  justify-content: center;
  align-content: center;
  box-shadow: $button-badge-shadow;
  background: get-color($background);

  svg {

    fill: get-color($fill);
    display: inline;
    width: 1.7rem;
    height: 100%;


  }
}