

body {

  font-family: font-family( primary );
  font-size: $base-font-size;
  color: get-color(text-default);




  p {

    margin-bottom: 1.25rem;
    @include type-setting(p1);


  }

  ul {

    margin: 0 0 2rem 4rem;

    li {

      @include type-setting(0);

    }


  }

  h1 {
    font-size: 6rem;
    line-height: 1.5;
    margin-bottom: 4rem;
  }

  h2 {

    font-size: 4rem;
    line-height: 1.5;
    margin-bottom: 4rem;
    font-weight: 900;

  }

  h3 {

    @include type-setting(h3);

  }

  h4 {

    @include type-setting(h4);

  }

  h5 {

    @include type-setting(h5);

  }

  h6{

    @include type-setting(h6);

  }

  iframe {

    max-width: 100%;

  }


}


