<div class="sii-m-badge-menu-item {{modifier_class}}">
    <a href="#" class="sii-m-badge-menu-item__link">
        <span class="sii-a-badge-button -icon-default -invert sii-m-badge-menu-item__link__icon"><svg>
            <use xlink:href="{{icon}}"></use>
        </svg></span>
        <span class="sii-a-badge-button sii-m-badge-menu-item__link__icon-hover"><svg>
            <use xlink:href="{{svg-arrorow-right}}"></use>
        </svg></span>
        <span class="sii-m-badge-menu-item__link__title">{{title}}</span>
    </a>
</div>


