<div class="sii-m-badge-item {{modifier_class}}">
    <div class="sii-m-badge-item__icon">
        {{> "badge-buttons" modifier_class="-invert"  svg-arrorow-right = "../assets/images/icons/sprite.svg#icon-arrow-right2"}}
    </div>
    <div class="sii-m-badge-item__content">
        {{> "chips-labels" text="Blog"}}
        <p>{{text}}</p>
    </div>
</div>
