<div class="sii-m-btn-group {{modifier_class}}">
    <li class="sii-m-btn-group__item">
        {{> "buttons" modifier_class="-secondary" text="Send Your Request"}}
    </li>
    <li class="sii-m-btn-group__item">
        {{> "buttons" modifier_class="-primary" text="Join Sii"}}
    </li>
</div>
