<div class="sii-m-card-logo {{modifier_class}}">
    <div class="sii-m-card-logo__image">
        <img src="{{logo}}" alt="image" />
    </div>
    <div class="sii-m-card-logo__description">
        {{description}}
    </div>
</div>
