<ul class="sii-m-card-menu {{modifier_class}}">

    {{#each labels}}
    <li class="sii-m-card-menu__item">
        <a href="#" class="sii-m-card-menu__item__link">
            <span class="sii-m-card-menu__item__link__icon"><svg><use xlink:href="{{icon}}"></use></svg></span>
            <span class="sii-m-card-menu__item__link__title">{{title}}</span>
            <span class="sii-m-card-menu__item__link__button">Learn more <svg><use xlink:href="{{svg-arrorow-right}}"></use></svg></span>
        </a>
    </li>
    {{/each}}

</ul>

