<div class="sii-m-card-item {{modifier_class}}">
    <div class="sii-m-card-item__image">
        <img src="{{photo}}" width="465" height="365" alt="image" />
    </div><div class="sii-m-card-item__content">
        {{> "chips-labels" modifier_class="-invert" }}
        <h3 class="sii-m-card-item__content__title">{{title}}</h3>
        {{> "buttons" modifier_class="-secondary -small" text="Read More"}}

    </div>
</div>
