<ul class="sii-m-column-list {{modifier_class}}">
    <li class="sii-m-column-list__item {{modifier_item_class}}" >
        <img src="{{logo1}}" alt="image" />
    </li>
    <li class="sii-m-column-list__item {{modifier_item_class}}">
        <img src="{{logo2}}" alt="image" />
    </li>
    <li class="sii-m-column-list__item {{modifier_item_class}}">
        <img src="{{logo3}}" alt="image" />
    </li>
    <li class="sii-m-column-list__item {{modifier_item_class}}">
        <img src="{{logo4}}" alt="image" />
    </li>
    <li class="sii-m-column-list__item {{modifier_item_class}}">
        <img src="{{logo5}}" alt="image" />
    </li>
    <li class="sii-m-column-list__item {{modifier_item_class}}">
        <img src="{{logo6}}" alt="image" />
    </li>

</ul>
