<div class="sii-m-contact-box {{modifier_class}}">
    <div class="sii-m-contact-box__address">
        <div class="sii-m-contact-box__address__icon">
            <span href="#" class="sii-a-icon -invert">
                <svg class="icon"><use xlink:href="{{icon-local}}"></use></svg>
            </span>
        </div>
        <div class="sii-m-contact-box__address__content">
            <p class="sii-m-contact-box__address__content__text">{{address-first}}</p>
            <p class="sii-m-contact-box__address__content__text">{{address-second}}</p>
            <a href="#" class="sii-a-icon-button -small">
                <span>View on map</span>
                <svg><use xlink:href="{{svg-arrorow-right}}"></use></svg>
            </a>
        </div>
    </div>
    <div class="sii-m-contact-box__contact">
        <div class="sii-m-contact-box__contact__icon">
            <svg><use xlink:href="{{icon-phone}}"></use></svg>
        </div>
        <div class="sii-m-contact-box__contact__content">
            <p class="sii-m-contact-box__contact__content__text">{{tel}}</p>
            <a href="mailto:{{mail}}" class="sii-m-contact-box__contact__content__mail">{{mail}}</a>
        </div>
    </div>
</div>