<div class="sii-m-feature-box {{modifier_class}}">
    <h4 class="sii-m-feature-box__title">
        <svg><use xlink:href="{{icon}}"></use></svg>
        <span>{{title}}</span></h4>
    <div class="sii-m-feature-box__content">
        <p>{{content}}</p>
    </div>
</div>
