<div class="sii-m-hero-box {{modifier_class}}">
    <div class="sii-m-hero-box__empty"></div>
    <div class="sii-m-hero-box__container">
        <div class="sii-m-hero-box__content">
            <h2 class="sii-m-hero-box__content__title">{{title}}</h2>
            <p class="sii-m-hero-box__content__desc">{{description}}</p>
            <p>
                <a href="#" class="sii-a-button -invertBg">Join Sii</a>
            </p>
        </div>
        <div class="sii-m-hero-box__image">
            <img src="../../resources/images/Sii_101815.png" alt="Build your career">
            <div class="sii-m-hero-box__image__desc">
                <p>
                    <span>{{imagePerson}}</span>
                    {{imageDesc}}
                </p>
            </div>
        </div>
    </div>
</div>
