<div class="sii-m-info-box {{modifier_class}}">
    <div class="sii-m-info-box__content">
        <h3 class="sii-a-heading -h3 sii-m-info-box__content__title">{{title}}</h3>
        <p class="sii-m-info-box__content__ph2 sii-a-heading -ph2">{{content1}}</p>
        <p>{{content2}}</p>
    </div>
    {{> "buttons" modifier_class="-secondary -small" text="Read this story"}}
</div>
