<div class="sii-m-input-line {{modifier_class}}">
    <span class="sii-m-input-line__error">This field must contain only letters and special characters</span>
    <input type="text" id="text" value="Text value" name="scales"
           required>
    <label for="text">{{label_text}}</label>
</div>
