<ul id="menu-bottom-menu" class="sii-m-nav-menu {{modifier_class}}">
    {{^column}}
    {{#each labels}}
    <li class="sii-m-nav-menu__item">
        <a href="#" class="sii-m-nav-menu__link">{{.}}</a></li>
    {{/each}}
    {{/column}}

    {{#if column2}}
    {{#each column2_labels}}
    <li class="sii-m-nav-menu__item">
        <a href="#" class="sii-m-nav-menu__link">{{.}}</a></li>
    {{/each}}
    {{/if}}

    {{#if column3}}
    {{#each column3_labels}}
    <li class="sii-m-nav-menu__item">
        <a href="#" class="sii-m-nav-menu__link">{{.}}</a></li>
    {{/each}}
    {{/if}}

    {{#if column4}}
    {{#each column4_labels}}
    <li class="sii-m-nav-menu__item">
        <a href="#" class="sii-m-nav-menu__link">{{.}}</a></li>
    {{/each}}
    {{/if}}

    {{#if column5}}
    {{#each column5_labels}}
    <li class="sii-m-nav-menu__item">
        <a href="#" class="sii-m-nav-menu__link">{{.}}</a></li>
    {{/each}}
    {{/if}}

    {{#if column6}}
    {{#each column6_labels}}
    <li class="sii-m-nav-menu__item">
        <a href="#" class="sii-m-nav-menu__link">{{.}}</a></li>
    {{/each}}
    {{/if}}

    {{#if svg-search}}
    <li class="sii-m-nav-menu__item"><a
            href="#" class="sii-m-nav-menu__link">
        <svg><use xlink:href="{{svg-search}}"></use></svg>
    </a></li>
    {{/if}}
</ul>

