<ul id="menu-bottom-menu" class="sii-m-nav-menu {{modifier_class}}">
    <li class="sii-m-nav-menu__item"><a
            href="#" class="sii-m-nav-menu__link">Company</a></li>
    <li class="sii-m-nav-menu__item"><a
            href="#" class="sii-m-nav-menu__link">What we do</a></li>
    <li class="sii-m-nav-menu__item"><a
            href="#" class="sii-m-nav-menu__link">Industries</a></li>
    <li class="sii-m-nav-menu__item"><a
            href="#" class="sii-m-nav-menu__link">Career</a>
    </li>
    <li class="sii-m-nav-menu__item"><a
            href="#" class="sii-m-nav-menu__link">Trainings</a></li>
    <li class="sii-m-nav-menu__item"><a
            href="#" class="sii-m-nav-menu__link">Newsroom</a></li>
    <li class="sii-m-nav-menu__item"><a
            href="#" class="sii-m-nav-menu__link">
        <svg class="sii-a-icon"><use xlink:href="{{svg-search}}"></use></svg>
    </a></li>
</ul>

