<ul id="menu-bottom-menu" class="sii-m-nav-tabs {{modifier_class}}">
    <li class="sii-m-nav-tabs__item -selected-item">
        <a href="#" class="sii-m-nav-tabs__item__link">Selected</a>
    </li>
    {{#each labels}}
    <li class="sii-m-nav-tabs__item">
        <a href="#" class="sii-m-nav-tabs__item__link">{{.}}</a>
    </li>
    {{/each}}


</ul>

