<ul class="sii-m-nav-arrow {{modifier_class}}">

    <li class="sii-m-nav-arrow__item">
        <a href="#" class="sii-m-nav-arrow__item__link">
            <svg class="icon"><use xlink:href="{{svg-arrorow-left}}"></use></svg>
        </a>
    </li>
    <li class="sii-m-nav-arrow__item">
        <a href="#" class="sii-m-nav-arrow__item__link">
            <svg class="icon"><use xlink:href="{{svg-arrorow-right}}"></use></svg>
        </a>
    </li>



</ul>

