<header class="sii-m-section-header {{modifier_class}}">

    <h2 class="sii-m-section-header__title sii-a-heading -h2">{{title}}</h2>
    <p class="sii-m-section-header__subtitle sii-a-heading -t2">{{subtitle}}</p>

</header>
