<div class="sii-m-short-info-box {{modifier_class}}">
    <div class="sii-m-short-info-box__media">
        <svg><use xlink:href="{{icon}}"></use></svg>
    </div>
    <div class="sii-m-short-info-box__content">
        <h4 class="sii-m-short-info-box__content__title"><span class="js-number-counter">{{number}}</span> {{title}}</h4>
        <span class="sii-m-short-info-box__content__subtitle">{{subtitle}}</span>
    </div>
</div>
