<div class="sii-m-short-info-box -number-version">
    <div class="sii-m-short-info-box__media">
        <span class="js-number-counter">{{number}}</span>
    </div>
    <div class="sii-m-short-info-box__content">

        <h4 class="sii-m-short-info-box__content__title"> {{title}}</h4>

    </div>
</div>
