<ul class="sii-m-social-menu {{modifier_class}}">
    <li class="sii-m-social-menu__item"><a
            href="#" class="sii-m-social-menu__link">
        <svg><use xlink:href="{{facebook}}"></use></svg>
    </a></li>
    <li class="sii-m-social-menu__item"><a
            href="#" class="sii-m-social-menu__link">
        <svg><use xlink:href="{{linkedin}}"></use></svg>
    </a></li>
    <li class="sii-m-social-menu__item"><a
            href="#" class="sii-m-social-menu__link">
        <svg><use xlink:href="{{pdf}}"></use></svg>
    </a></li>

    <li class="sii-m-social-menu__item"><a
            href="#" class="sii-m-social-menu__link">
        <svg><use xlink:href="{{email}}"></use></svg>
    </a></li>


</ul>

