<div class="sii-m-testimonial-item {{modifier_class}}">
    <div class="sii-m-testimonial-item__logo">
        <img src="{{logo}}" width="175" height="94" alt="image"/>
    </div>
    <blockquote class="sii-m-testimonial-item__content">
        <p class="sii-m-testimonial-item__content__quote">{{text}}</p>

        <p class="sii-m-testimonial-item__content__footer">
            <strong>{{author}}</strong>
            <span>{{company}}</span>
        </p>
    </blockquote>

</div>
