<div class="sii-m-video-image {{modifier_class}}">
    <a href="#" class="sii-m-video-image__link">
        <img src="{{image}}" alt="Image" />
    </a>
    {{> "badge-buttons" svg-arrorow-right="../../resources/assets/icons/svg/font-awesome-sprites/solid.svg#play" modifier_class="sii-m-video-image__play"}}
</div>
