#lang_sel {

  height: auto !important;
  position: relative;

  &:after {

    content: '';
    width: 0;
    display: block;
    border: 3px solid transparent;
    border-top-color: get-color(invert);
    position: absolute;
    top: 50%;
    right: 0;

  }

  li {

    width: auto;
    padding-right: 2rem!important;
    font-size: 1.2rem!important;

    a {

      font-size: 1.2rem!important;

      &.lang_sel_sel {

        background: none !important;
        border: none !important;
        color: get-color(invert) !important;

      }

    }

  }

  ul {

    ul {

      width: 80px;
      border: none!important;

    }

  }
}