/*
Buttons

4 types of default buttons atoms

.-primary   - default button
.-secondary   - secondary button
.-ghost   - Warning button
.-small.-primary - small button primary
.-small.-secondary - small button
.-invert - inverted version
.-invertBg - inverted version with background
.-link - przycisk w bez padding

Markup: ../../../../styleguide/templates/atoms/buttons.html

Wrapper:
<div style="background: #f1f5f8; padding: 20px;">
<wrapper-content/>
</div>

Style guide: Atoms.badge-buttons

*/

.sii-a-button {

  @include button-label-core;
  color: get-color(secondary);
  padding-left: 0;
  margin-left:0;


  &.-invert {

    color: get-color(invert);

  }

  &.-primary {

    @include btn-specify(primary);


  }

  &.-secondary {

    @include btn-specify(secondary);


  }

  &.-ghost {


    @include btn-specify(ghost);
    border: $button-ghost-border;


  }

  &.-link {

    padding: 0;

  }

  &.-invertBg {

    @include btn-specify(invertBg);

  }

  &.-small {

    font-size: 1.26rem;
    line-height: 1.45;
    padding: $button-small-padding;
    min-width: $button-small-width;

  }

}

/*
Bagde Buttons

Buttons + icons

.-invert - inverted version
.-icon-default - icon default
.-only-icon - bordered version

Markup: ../../../../styleguide/templates/atoms/badge-buttons.html

Wrapper:
<div style="padding: 20px;">
<wrapper-content/>
</div>

Style guide: Atoms.buttons

*/

.sii-a-badge-button {

  @include button-label-core;
  @include badge-default(secondary, invert);


  &:hover,
  &.-invert{

    background: get-color(invert);

    svg {

      fill: get-color(secondary);

    }

  }

  &.-only-icon {

    width: 3.5rem;
    min-width: 3.5rem;
    height: 3.5rem;

    background: none;
    box-shadow: none;
    padding: 0;
    align-items: center;

    svg {

      fill: get-color(secondary);
      width: 3.5rem;
      min-width: 3.5rem;

    }

    &.-invert {

      background: none;


      svg {
        fill: get-color(invert);
      }

    }


  }

  &.-invert{

    background: get-color(invert);

    svg {
      fill: get-color(secondary);
    }

  }

  &.-icon-default {

    svg {

      fill: get-color(icon-default);

    }

  }



}

/*
Icon Buttons

Buttons + icons

.-small - mniejsza wersja icon buttona
.-invert - odwrócone kolory


Markup: ../../../../styleguide/templates/atoms/icon-buttons.html

Wrapper:
<div style="padding: 20px;background: #f1f5f8">
<wrapper-content/>
</div>

Style guide: Atoms.icon-buttons

*/


.sii-a-icon-button {

  @include button-label-core;
  display: flex;
  align-items: center;
  color: get-color(secondary);
  padding-left: 0;
  padding-right: 0;

  svg {

    margin-left: 1.5rem;
    fill: get-color(secondary);
    display: inline;
    width: 1.5rem;
    height: 1.5rem;

  }

  &.-small {

    font-size: 1.2rem;

    svg {

      width: 1rem;
      height: 1.4rem;
      margin-left: 1rem;

    }

  }

  &.-invert {

    color: get-color(invert);

    svg {

      fill: get-color(invert);

    }

  }

}




