/*
Icons

4 types of default buttons atoms

.-primary - primary
.-secondary - secondary
.-invert - Inverted color
.-badge   - default button

Markup: ../../../../styleguide/templates/atoms/icons.html

Wrapper:
<div style="padding: 20px;background: #f8fafc">
<wrapper-content/>
</div>

Style guide: Atoms.icons

*/

.sii-a-icon {

  svg {

    fill: get-color(third);
    display: inline;
    width: 1.7rem;
    height: 1.7rem;

  }

  &.-primary {

    svg {
      fill: get-color(primary);
    }

  }

  &.-secondary {

       svg {
         fill: get-color(secondary);
       }

     }

  &.-invert {

    svg {
      fill: get-color(invert);
    }

  }

  &.-badge {

    display: flex;
    align-items: center;
    background: get-color(invert);
    @include badge-default(secondary, invert);

  }

}
