/*
Forms

Form Inputs

Style guide: Atoms.forms

*/


/*

Text Input

:hover - Highlight the text box when hovering
:focus - Similar to :hover, however it should demand more attention than when an input is simply hovered.
:disabled - When disabled, the input's appearance should reflect as such.

Markup: ../../../../styleguide/templates/atoms/inputs.html

Style guide: Atoms.forms.input

Wrapper:
<div style="width:400px">
<wrapper-content/>
</div>


*/

input[type="text"],
input[type="phone"],
input[type="email"],
textarea {
  display: inline-block;
  padding: $input-padding;
  font-size: $input-font-size;
  line-height: $input-line-height;
  color: get-color(text-default);
  background-color: $input-bg;
  background-clip: padding-box;
  border: none;
  border-radius: 3.5rem;
  box-shadow: $input-box-shadow;
  font-weight: $input-font-weight;
  width: 100%;
  transition: all .2s ease-in-out;

  &:focus {
    outline: none;
    box-shadow: 0 3rem 6rem 0 rgba(0, 0, 0, 0.05), 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.05);
  }
}

input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
}


