/*
Labels

4 types of default buttons atoms

.-big   - default button
.-standard   - secondary button
.-small   - Warning button


Markup: ../../../../styleguide/templates/atoms/labels.html

Wrapper:
<div style="padding: 20px;">
<wrapper-content/>
</div>

Style guide: Atoms.labels


*/

.sii-a-label {

  text-transform: uppercase;
  padding: 0.4rem 0;

  &.-big {

    font-size: 1.4rem;


  }

  &.-standard {

    font-size: 1.2rem;


  }

  &.-small {

    font-size: 1.1rem;

  }

}

/*
Chips Labels

Chips can be used to represent small blocks of information. They are most commonly used either for contacts or for tags.

.-light   - light version
.-primary - primary version
.-invert - inverted version


Markup: ../../../../styleguide/templates/atoms/chips-labels.html

Wrapper:
<div style="padding: 20px; background: #0E6EE0">
<wrapper-content/>
</div>

Style guide: Atoms.chips-labels

*/


.sii-a-chips-label {

  text-transform: uppercase;
  font-size: 1.1rem;
  line-height: 1.2;
  padding: 2px 1.2rem;
  border: 1px solid get-color(secondary);
  color: get-color(secondary);
  border-radius: 3rem;
  font-weight: 900;


   &[href^="http:"] {

    &:hover {

      color: get-color(invert);
      background: get-color(secondary);
      text-decoration: none;



    }

  }

  &.-primary {

    color: get-color(invert);
    background-color: get-color(primary);
    border: none;
    border-radius: 0.4rem;
    padding: 5px 0.9rem;

  }

  &.-invert {

    color: get-color(invert);
    border-color: get-color(invert);

  }


  &.-light {

    color: get-color(invert);
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    border-radius: 0.4rem;
    padding: 5px 0.9rem;

  }

}
