/*
Headings

Markup: ../../../../styleguide/templates/atoms/text-heading.html

.-h0   - Large Header
.-h1   - H1 Header
.-h2   - H2 Header
.-h3   - H3 Header
.-t1   - t1 Header
.-t2  - t2 Header
.-t3   - t3 Header
.-ph1   - ph1 Header
.-ph2  - ph2 Header

Style guide: Atoms.headings

*/

.sii-a-heading {

  @include type-setting(h2);

  &.-h0 {

    @include type-setting(h0);
    margin-bottom: 2rem;

  }

  &.-h1 {

    @include type-setting(h1);

  }

  &.-h2 {

    @include type-setting(h2);

  }

  &.-h3 {

    @include type-setting(h3);

  }

  &.-t1 {

    @include type-setting(t1);
    margin-bottom: 3rem;


  }

  &.-t2{

    @include type-setting(t2);


  }

  &.-t3 {

    @include type-setting(t3);

  }

  &.-ph1 {

    @include type-setting(ph1);

  }

  &.-ph2 {

    @include type-setting(ph2);

  }

}

/*
Paragraphs

Markup: ../../../../styleguide/templates/atoms/text-paragraph.html

.-p1   - normal paragraphs
.-p2   - p2 paragraph
.-p3   - small paragraph

Style guide: Atoms.paragraphs

*/

.sii-a-paragraph {

  &.-p1 {

    @include type-setting(p1);

  }

  &.-p2 {

    @include type-setting(p2);

  }

  &.-p3 {

    @include type-setting(p3);

  }

}


/*
Blockquote

Markup: ../../../../styleguide/templates/atoms/text-quote.html

.-q   - normal blockquote
.-q1   - blockquote

Style guide: Atoms.blockquote

*/


.sii-a-quote {

  font-style: italic;

  &.-q {

    @include type-setting(q);

  }

  &.-q1 {

    @include type-setting(q1);

  }


}


