/*
Card Job

Card for presenting job offer

Markup: ../../../../styleguide/templates/organisms/card-job.html

Wrapper:
<div style="padding: 20px; width: 550px;">
<wrapper-content/>
</div>

Style guide: Organisms.card-job

*/

$class-name-card-job: sii-o-card-job;

// default menu molecule

.#{$class-name-card-job} {

  position: relative;
  border-radius:$box-small-radius;
  overflow: hidden;
  box-shadow: $box-shadow-1;
  padding: 4rem 5rem;

  &:hover {

    background: get-color(secondary);

    .#{$class-name-card-job}__location {

      display: none;

    }

    .#{$class-name-card-job}__footer {

      display: flex;

    }

    .#{$class-name-card-job}__title {

      a {

        color: get-color(invert);

      }

    }

    .#{$class-name-card-job}__more {

      display: block;

    }



  }

  .#{$class-name-card-job}__title {

    font-size: 2.1rem;

    a {

      color: get-color(third);
      text-decoration: none;

    }

  }


  .#{$class-name-card-job}__location {

    font-size: 1.2rem;
    display: flex;
    padding: 1.5rem 0;

    .#{$class-name-card-job}__location__label {

      padding-right: 1rem;
      opacity: 0.5;

    }

    .#{$class-name-card-job}__location__cities {


    }




  }

  .#{$class-name-card-job}__more {

    display: none;

  }

  .#{$class-name-card-job}__footer {


    display: none;
    color: get-color(invert);
    font-size: 1.2rem;

    .#{$class-name-card-job}__footer__share {

      padding-left: 0.5rem;

    }

    .#{$class-name-card-job}__footer__link {

      align-self: flex-end;
      margin-left: auto;
      font-size: 1.2rem;


    }

  }



}
