/*
Footer Bar

Main Footer Bar

Markup: ../../../../styleguide/templates/organisms/footer-bar.html

Wrapper:
<div style="background: #0E6EE0; padding: 15px">
<wrapper-content/>
</div>

Style guide: Organisms.footer-bar

*/

$class-name-footer-bar: sii-o-footer-bar;

// default menu molecule
.#{$class-name-footer-bar} {

  display: flex;
  padding: 3rem 0;
  background: get-color(third);


  .#{$class-name-footer-bar}__column {


    padding:0 2.5rem;
    flex: 1;

    &:first-child {

      margin-left: -2.5rem;

    }

    &:last-child {

      margin-right: -2.5rem;

    }

    .#{$class-name-footer-bar}__column__title {

      font-size: 1.4rem;
      font-weight: 900;
      line-height: 1.7rem;
      margin: 2.5rem 0;
      color: get-color(invert);

    }


  }

}
