/*
Hero box full

Hero box full component

Markup: ../../../../styleguide/templates/organisms/hero-box-full.html

Wrapper:
<div style="height: 61.7rem; width:100%; margin-bottom:20px;">
<wrapper-content/>
</div>

Style guide: Organisms.hero-box

*/

$class-name-o-hero-box: sii-o-hero-box-full;
$class-name-m-hero-box: sii-m-hero-box;

.#{$class-name-o-hero-box} {
  display: flex;
  flex-direction: row;
  overflow: hidden;

  .#{$class-name-m-hero-box} {
    width: 50%;
    overflow: visible;
    z-index: 10;

    &__container {
      width: 100%;
    }
    &.-reverse {
      padding-left: 0;
      z-index: 5;
    }
  }

}