/*
Menu rounded large

Menu rounded large

Markup: ../../../../styleguide/templates/organisms/menu-rounded-large.html

Wrapper:
<div style="padding: 15px; margin-top: 30rem;">
<wrapper-content/>
</div>

Style guide: Organisms.menu-rounded-large

*/



$class-name-menu-rounded-large: sii-o-menu-rounded-large;

// default menu molecule
.#{$class-name-menu-rounded-large} {
  width: 100%;
  background-color: #0E6EE0;
  position: relative;
  z-index: 2000;
  max-height: 60rem;

  &__container {
    position: relative;
    margin: 0 auto;
    width: 77.3rem;
    height: 77.3rem;
    border: 1px solid rgba(205,205,205,0.23);
    border-radius: 50%;
    transform: translateY(-42rem);

    &:before {
      content: '';
      position: absolute;
      top: -8.5rem;
      left: -8.5rem;
      border: 1px solid rgba(205,205,205,0.23);
      border-radius: 50%;
      width: 93.3rem;
      height: 93.3rem;
      display: block;
    }

    &:after {
      content: '';
      position: absolute;
      top: -17rem;
      left: -17rem;
      border: 1px solid rgba(205,205,205,0.23);
      border-radius: 50%;
      width: 110.4rem;
      height: 110.4rem;
      display: block;
    }

  }

  &__content {
    margin: 16.75rem;

    &:before {
      content: '';
      position: absolute;
      top: 8.5rem;
      left: 8.5rem;
      border: 1px solid #CDCDCD;
      opacity: 0.23;
      border-radius: 50%;
      width: 60.3rem;
      height: 60.3rem;
      display: block;
    }

    &__title {
      position: relative;
      width: 43.4rem;
      height: 43.4rem;
      border-radius: 50%;
      background-color: get-color(invert);
      box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.2), 6px 6px 11px 0 rgba(0, 0, 0, 0.1);

      h2 {
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        width: 100%;
        text-align: center;
        color: #626BB9;
        font-size: 42px;
        margin-bottom: 0;
      }
    }

  }

  &__list {
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height:100%;

    &__item {
      z-index: 1;
      position: absolute;

      @for $i from 1 through 12 {
        @if ($i < 5) {
          &:nth-child(#{$i}) {
            .sii-m-badge-menu-item  {
              @extend .-right-icon;
              width: 30rem;
              &__link {
                transform: translateX(-15rem);
              }
            }
          }
        } @else if($i == 5) {
          &:nth-child(#{$i}) {
            .sii-m-badge-menu-item  {
              @extend .-title-bottom-left;
            }
          }
        } @else if ($i > 5 and $i < 8) {
          &:nth-child(#{$i}) {
            .sii-m-badge-menu-item  {
              @extend .-title-bottom;
              &__link {
                margin-left: 7.5rem;
              }
            }
          }
        } @else if($i == 8) {
          &:nth-child(#{$i}) {
            .sii-m-badge-menu-item  {
              @extend .-title-bottom-right;
              &__link {
                transform: translateX(7.5rem);
              }
            }
          }
        } @else {
          &:nth-child(#{$i}) {
            .sii-m-badge-menu-item  {
              width: 28rem;
              &__link {
                transform: translateX(7.5rem);
              }
            }
          }
        }
      }


      // Liczba przestrzeni między elementami w połowie okręgu
      $nb-spaces: 9;
      // Kąt między elementami
      $angle: (360/($nb-spaces*2));
      // Liczba elementów
      $nb-items: 12;
      // Całkowity kąt wynikający z wszystkich elementów
      $total-angle: ($nb-items - 2) * $angle;
      // Początek rozmieszczania elementów
      $rot: 360 - $total-angle;
      // Średnica okręgu
      $circle-size: 76rem;

      @for $i from 1 through $nb-items {

        &:nth-of-type(#{$i}) {
          left: 35%;
          top: 45%;
          transform: rotate($rot * -1deg) translate($circle-size / 2) rotate($rot *
            1deg);

          $rot: ($rot + $angle);
        }

      }

    }

  }

}
