/*
Navigation Bar

Navigation menu component


Markup: ../../../../styleguide/templates/organisms/nav-bar.html

Wrapper:
<div style="background: #0E6EE0; padding: 20px">
<wrapper-content/>
</div>

Style guide: Organisms.nav-bar

*/

$class-name-nav-bar: sii-o-nav-bar;

// default menu molecule
.#{$class-name-nav-bar} {

  display: flex;
  padding: 2.1rem 0 0 0;
  border-bottom: 1px solid rgba(255,255,255, 0.25);


  .#{$class-name-nav-bar}__brand-logo {

    a {

      display: block;

    }

    svg {

      width: 12.2rem;
      height: 7.9rem;



    }



  }

  .#{$class-name-nav-bar}__item {

    margin-left: auto;
    display: flex;
    flex-direction: column;


    .#{$class-name-nav-bar}__item__nav-top {

      padding: 0.3rem 0 2rem 0;
      margin-left: auto;
      display: flex;
      align-items: center;

      .#{$class-name-nav-bar}__item__nav-top__language-select {

        padding-right: 2rem;
        text-transform: uppercase;
        font-size: 1.2rem;

      }



    }

    .#{$class-name-nav-bar}__item__nav-main {



    }

  }




}
