/*
News Box

Box z informacjami z eventow, bloga i newsroomu

Markup: ../../../../styleguide/templates/organisms/news-box.html

Wrapper:
<div style="padding: 20px;max-width: 1400px; background: #0E6EE0">
<wrapper-content/>
</div>

Style guide: Organisms.news-box

*/

$class-name-news-box: sii-o-news-box;

// default menu molecule
.#{$class-name-news-box} {

  .#{$class-name-news-box}__box-title,
  .#{$class-name-news-box}__column-title{

    color: get-color(invert);

  }

  .#{$class-name-news-box}__box-title {

    font-weight: 300;
    margin-bottom: 2rem;

  }

  .#{$class-name-news-box}__column-title{

    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;

  }

  .#{$class-name-news-box}__item {

    margin-bottom: 1rem;

  }

  .#{$class-name-news-box}__more {

    margin-top: 2rem;

  }



  }
