/*
Newsletter

Newsletter Form

Markup: ../../../../styleguide/templates/organisms/newsletter.html

Wrapper:
<div style="padding: 20px; width: 1000px;">
<wrapper-content/>
</div>

Style guide: Organisms.newsletter

*/

$class-name-newsletter: sii-o-newsletter;

// default menu molecule

.#{$class-name-newsletter} {

  position: relative;

  .#{$class-name-newsletter}__title {


    font-size: 2.5rem;
    line-height: 3.5rem;
    margin-bottom: 1rem;

  }

  .#{$class-name-newsletter}__subtitle {

    font-size: 1.8rem;
    line-height: 2.4rem;

  }


  .#{$class-name-newsletter}__form {

    display: flex;
    padding: 2.5rem 0;

    .#{$class-name-newsletter}__form__button {

      margin-left: 3rem;


    }

  }

  .#{$class-name-newsletter}__form__input {

        width: 57rem;

  }




}
