/*
Slider

Navigation menu component


Markup: ../../../../styleguide/templates/organisms/slider.html

Wrapper:
<div style="background: #0E6EE0; padding: 20px; overflow:hidden">
<wrapper-content/>
</div>

Style guide: Organisms.slider

*/

$class-name-slider: sii-o-slider;

// default menu molecule
.#{$class-name-slider} {

  display: flex;
  flex-direction: column;
  padding: 4rem 0;

  .#{$class-name-slider}__navigation {

    width: $layout-width;
    max-width: 100%;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    .#{$class-name-slider}__navigation__arrows {

    }

  }

  .#{$class-name-slider}__content {

    @include reset-list();
    width: 100%;
    max-width: 100%;
    position: relative;
    display: flex;
    align-items: center;

    .#{$class-name-slider}__content__item {

      padding: 2rem $layout-grid-gutter/2;

      &:first-child {
        margin-left: -$layout-grid-gutter/2;
      }

      &:last-child {
        margin-right: -$layout-grid-gutter/2;
      }

    }

  }

  /*
 Slider Movies

 SLider z filmami


 Markup: ../../../../styleguide/templates/organisms/slider-movies.html

 Wrapper:
 <div style="background: #0E6EE0; padding: 20px; overflow:hidden">
 <wrapper-content/>
 </div>

 Style guide: Organisms.slider-movies

 */

  &.-movies {

    position: relative;

    .#{$class-name-slider}__title {

      width: $layout-width;
      max-width: 100%;
      position: absolute;
      padding-left: calc(#{$slider-video-first-slide-width} + #{$layout-grid-gutter});
      color: get-color(invert);
      top: 9.5rem;
      font-size: 2.5rem;



    }

    .#{$class-name-slider}__navigation {

      flex-direction: row;
      padding-left: calc(#{$slider-video-first-slide-width} + #{$layout-grid-gutter} + 2rem);

      position: absolute;
      bottom: 7rem;
      z-index: 100;


    }

    .#{$class-name-slider}__content {

      @include reset-list();
      width: 100%;
      max-width: 100%;
      position: relative;
      display: flex;
      align-items: center;

      .#{$class-name-slider}__content__item {

        width: 22.5rem;

        h4 {

          font-size: 1.4rem;
          font-weight: 300;
          line-height: 1.7rem;
          margin: 4.2rem 0 1.7rem 0;
          color: get-color(invert);
          opacity: 0.5;

        }

        &:first-child {

          width: calc(#{$slider-video-first-slide-width} + #{$layout-grid-gutter});
          height: $slider-video-first-slide-height;

          .sii-m-video-image {

            @extend .sii-m-video-image.-large;

          }

        }

        &.-active-slide,
        &.slick-current.slick-active{

          width: calc(#{$slider-video-first-slide-width} + #{$layout-grid-gutter});


          h4 {

            display: none;

          }

          .sii-m-video-image {

            @extend .sii-m-video-image.-large;
            max-width: 100%;

          }

        }



      }

    }

  }

  /*
Testimonials Large

Large Testimonials


Markup: ../../../../styleguide/templates/organisms/slider-testimonials-large.html

Wrapper:
<div style="background: #0E6EE0; padding: 20px; overflow:hidden">
<wrapper-content/>
</div>

Style guide: Organisms.slider-testimonials-large

*/

  &.-testimonials-large {

    .#{$class-name-slider}__title {

      color: get-color(invert);
      font-size: 4rem;
      font-weight: 900;
      margin-bottom: 4rem;

    }


    .#{$class-name-slider}__content__item__testimonial{

      width: $layout-width;
      display: flex;
      align-items: center;

    }



  }


  /*
Clients Slider

Clients logos and tabs


Markup: ../../../../styleguide/templates/organisms/slider-clients.html

Wrapper:
<div style="background: #FF3A88; padding: 20px; overflow:hidden">
<wrapper-content/>
</div>

Style guide: Organisms.slider-clients

*/

  &.-clients {


    .#{$class-name-slider}__title {

      color: get-color(invert);
      font-size: 2.5rem;
      line-height: 3.5rem;
      margin-bottom: 1.5rem;

    }

    .#{$class-name-slider}__tabs {

      width: 95%;
      max-width: calc(#{$layout-width} - 6rem);
      padding: 1.5rem 0;
      position: relative;
      z-index: 200;

    }

    .#{$class-name-slider}__more {

      margin-top: 1.5rem;



    }

    .#{$class-name-slider}__navigation {

      position: absolute;
      top: 17rem;



    }

  }

}
