/*
Top Lead

Main Top

.-home - home version of lead

Markup: ../../../../styleguide/templates/organisms/top-lead.html

Wrapper:
<div style="background: #0E6EE0; padding: 20px">
<wrapper-content/>
</div>

Style guide: Organisms.top-lead

*/


$class-name-top-lead: sii-o-top-lead;

// default menu molecule
.#{$class-name-top-lead} {

  display: flex;
  flex-direction: column;
  color: get-color(invert);

  .#{$class-name-top-lead}__header {

    display: flex;
    min-height: 30rem;
    padding-bottom: 8rem;

    .#{$class-name-top-lead}__header__text {

      width: 50%;
      position: relative;

      .#{$class-name-top-lead}__header__text__go-down {


        position: absolute;
        bottom: 0.5rem;
        right: 0.5rem;

      }


    }

    .#{$class-name-top-lead}__header__utilities {

      width: 50%;
      position: relative;

      .#{$class-name-top-lead}__header__utilities__caption {

        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 2rem;
        line-height: 4rem;


      }


    }

  }

  &.-home {

    position: relative;



    .#{$class-name-top-lead}__header {



      .#{$class-name-top-lead}__header__text {


        margin-top: 15.5rem;
        width: 51%;


        .#{$class-name-top-lead}__header__text__title {

          font-size: 12rem;
          line-height: 10rem;
          margin-bottom: 2.8rem;

        }

        .#{$class-name-top-lead}__header__text__subtitle {

          margin-bottom: 4.8rem;
          line-height: 3.8rem;

        }



      }

      .#{$class-name-top-lead}__header__utilities {

        width: 49%;


      }

    }

  }


}
