// Content Header Component

.sii-c-content-header {
  height: $content-header-height;
  display: flex;
  flex-flow: row wrap;



  // Breadrumbs
  &__breadcrumbs {
    width: 100%;
    align-self: flex-start;
  }

  //title

  &__title {
    width: 100%;
    align-self: baseline;
    font-family: $content-header-title-font;
    font-weight: 300;
    font-size: $content-header-title-font-size;
  }
}
