// variables

$article-sidebar-class-name: sii-g-article-sidebar;
$gallery-grid-class-name: sii-o-gallery-grid;



// box list grid
.sii-g-box-grid {
  @include reset-list();

  display: flex;


  &__item{



  }
}

// article sidebar grid

.#{$article-sidebar-class-name} {
  display: flex;

  &__content {
    width: 70%;
    padding-right: $layout-grid-gutter/2;
  }

  &__sidebar {
    width: 30%;
    padding-left: $layout-grid-gutter/2;
  }

  &.-left-sidebar {
    flex-direction: row-reverse;
  }
}

// Gallery Grid

.#{$gallery-grid-class-name} {
  @include reset-list();

  display: flex;
  width: 100%;
  flex-wrap: wrap;


  &__item {
    width: 50%;

    img {
      @include responsive-image();

      display: block;
    }
  }
}
