{{#shapes}}
{{#first}}
.icon {
  background-image: url(sprites/{{{sprite}}});
}
{{/first}}

.icon--{{base}} {
  background-image: url(sprites/{{{sprite}}});
  width: {{width.outer}}px;
  height: {{height.outer}}px;
  background-position: {{position.relative.xy}};
}
{{/shapes}}