
// The cover image `<div>` element. The image is added as a background.
.wp-block-cover-image {
  position: relative;
  background-size: cover;
  background-position: 50%;
  min-height: 430px;
  width: 100%;
  margin: 0 0 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;

  // Parallax images should have a fixed background so that the image
  // stays in place while everything else scrolls.
  &.has-parallax {
    background-attachment: fixed;
  }

  // Background dim.
  &.has-background-dim::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  // The background dim can be any number from 10-100. We're just running
  // a simple loop to add a text-default background color over the element.


  // Left/Right text content.
  &.has-left-content {
    justify-content: flex-start;
  }

  &.has-right-content {
    justify-content: flex-end;
  }
}

// Paragraph of text shown within the cover image element.
.wp-block-cover-image-text {
  color: color(white);
  font-size: 2em;
  line-height: 1.25;
  z-index: 1;
  margin-bottom: 0;
  max-width: content-width();
  padding: 14px;
  text-align: center;

  a,
  a:hover,
  a:focus,
  a:active {
    color: color(white);
  }
}

// Left-aligned text.
.has-left-content .wp-block-cover-image-text {
  margin-left: 0;
  text-align: left;
}

// Right-aligned text.
.has-right-content .wp-block-cover-image-text {
  margin-right: 0;
  text-align: right;
}
