

.wp-block-file {
  margin-bottom: 1.5em;

  &.aligncenter {
    text-align: center;
  }

  &.alignright {
    text-align: right;
  }

  &__button {
    background: color(text-default);
    color: color(white);
    padding: 0.5em 1em;
    text-decoration: none;

    &:hover,
    &:visited,
    &:focus,
    &:active {
      color: color(white);
      opacity: 0.85;
      text-decoration: none;
    }
  }
}

// Give the file block button some spacing to the left if there's another element
// preceding it.
* + .wp-block-file__button {
  margin-left: 0.75em;
}
