// Header
$box-small-radius: 0.4rem;
$box-large-radius: 4.5rem;
$box-shadow-1: 0 20px 50px 0 rgba(0, 0, 0, 0.05), 0 2px 4px 0 rgba(0, 0, 0, 0.05);

// Slider

$slider-video-first-slide-width: 57rem;
$slider-video-first-slide-height: 34rem;





