//default buttons
$button-default-padding: 1.2rem 3.6rem;
$button-specified-padding: 1.2rem 3.5rem;
$button-small-padding: 0.8rem 2.6rem;
$button-default-line-height: 2.5rem;
$button-small-width: 11rem;
$button-border-radius: 3rem;
$button-default-border: none;
$button-ghost-border: 1px solid get-color(invert);
$button-transition: 0.3s;
$button-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, 0.05), 0 0.9rem 0.9rem 0 rgba(0, 0, 0, 0.05);
$button-badge-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.2);

// circle button

$button-circle-width: 3.5rem;
$button-circle-height: 3.5rem;

$button-close-big-width: 4rem;
$button-close-big-height: 4rem;

// social buttons
$button-social-variants: email facebook twitter linkedin gplus;
$button-social-size: 3.5rem;
$button-social-radius: 100%;


// button backgrounds

@function buttons-background-variants() {

  @return (
          default: none,
          primary: get-color(primary),
          secondary: get-color(secondary),
          ghost: none,
          invertBg: get-color(invert)


  );
}



@function get-btn-background( $name ) {

  @return map-get(buttons-background-variants(), $name);
}

// button colors

@function buttons-color-variants() {

  @return (

          default: get-color(invert),
          primary: get-color(invert),
          secondary: get-color(invert),
          ghost: get-color(invert),
          invertBg: get-color(primary)

  );
}



@function get-btn-color( $name ) {

  @return map-get(buttons-color-variants(), $name);

}


// social buttons

@function colors-social-buttons() {

  @return (
          email: #f0ad4e,
          facebook: #1471c0,
          twitter: #00bff3,
          gplus: #68b807,
          linkedin: #1482bb

  );
}

// Returns a single  color value by name.

@function get-social-button-variant( $name ) {

  @return map-get(colors-social-buttons(), $name )

}