/*
Website Colors

Colors that are used in the theme.

Colors:
primary: #FF3A88 - Primary color
secondary: #44D5AD - Secondary color
third: #0E6EE0 -
warning: #ffae00 -
alert: #e62739 -
gray1: #e1e8f0 -
gray2: #e1e8f0 -
gray3: #cacaca -
gray4: #eeeeee -
dark-gray1: #8a8a8a -
icon-default: #626BB9 -
text-default: #414F61 - Default Text Color
invert: #ffffff - Inverted color

Style guide: 1 Global.colors

*/

@function colors-palette() {
  @return (
    primary: #FF3A88,
          secondary: #44D5AD,
          third: #0E6EE0,
          warning: #ffae00,

          alert: #F33434,
          gray1: #e1e8f0,
          gray2: #e1e8f0,
          gray3: #cacaca,
          gray4: #eeeeee,
          dark-gray1: #8a8a8a,
          icon-default: #626BB9,
          text-default: #414F61,
          invert: #ffffff,
  );
}

// Returns a single  color value by name.

@function get-color( $name ) {
  @return map-get(colors-palette(), $name);
}
