$input-box-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, 0.05), 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.05);
$input-padding: 2.5rem 4rem;
$input-font-size: 1.8rem;
$input-padding-y: 2px;
$input-padding-x: 2px;
$font-size-base: font-size(-1);
$input-line-height: 2.2rem;
$input-color: get-color(text-default);
$input-bg: get-color(invert);
$input-border-width: 1px;
$input-border-color: get-color(dark-gray1);
$input-border-color-focus: get-color(primary);
$input-font-weight: 600;
$input-label-font-weight: 300;