$layout-grid-gutter: 3rem;
$layout-width: 117rem;
/// Returns an map of page breaks in name-value format.

/// @return {map}  Map of page breaks.

@function breaks() {
  @return (
    medium : 782px,
		small  : 600px,
		mobile : 480px
	);
}

@function break( $name ) {
  @return map-get( breaks(), $name );
}
