//Navigation - submenu
$sub-nav-width: 220px;

//Main Navigation


$nav-item-padding:  0 1.5rem;
$nav-item-link-color: get-color(text-default);
$nav-min-height: 3rem;
$nav-font-size: 1.2rem;
$nav-line-height: 3rem;




