
$root-font-size: 10px;// wartość bazowa od której liczmy rem
$base-font-size: 1.6rem;//podstawowa wielkosc fontu na stronie
$scale-factor: 1.2; //do obliczania line height w zależności od wielkości czcionki

// base line height, which is a ratio (usually between 1.2 and 1.5) multiplied by the base font size

$base-line-height: $base-font-size * $scale-factor;


// line height level mapping

@function line-heights() {
  @return (
          h0: 8rem *$scale-factor,
          h1: 6rem*$scale-factor,
          h2: 4rem*$scale-factor,
          h3: 2.2rem*$scale-factor,
          t1: 2.6rem*$scale-factor,
          t2: 2.5rem*$scale-factor,
          t3: 1.8rem*$scale-factor,
          ph1: 1.8rem*$scale-factor,
          ph2: 1.6rem*$scale-factor,
          p1: 1.4rem*$scale-factor,
          p2: 1.4rem*$scale-factor,
          p3: 1.2rem*$scale-factor,
          q: 1.4rem*$scale-factor,
          q1: 1.3rem*$scale-factor,
  ); }


// helper function returns line height based on level

@function line-height($level) {
  @return map-get( line-heights(), $level);
}

@function font-families() {
  @return (
    primary   :  #{'Lato', sans-serif},
          secondary : #{'Lato', sans-serif},
          third : system-ui,
          code      : #{"Source Code Pro", Monaco, Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace}
  );
}

// Returns font family value by name.

@function font-family( $name ) {
  @return map-get( font-families(), $name );
}


// Font sizes  level mapping

@function font-sizes() {
  @return (
          h0: 8rem,
          h1: 6rem,
          h2: 4rem,
          h3: 2.2rem,
          t1: 2.6rem,
          t2: 2.5rem,
          t3: 1.8rem,
          ph1: 1.8rem,
          ph2: 1.6rem,
          p1: 1.4rem,
          p2: 1.4rem,
          p3: 1.2rem,
          q: 1.4rem,
          q1: 1.3rem,

  );
}

// Returns a single  font size value by name.

@function font-size( $level ) {
  @return map-get( font-sizes(), $level );
}


// Font weight  level mapping

@function font-weights() {
  @return (
          h0: 900,
          h1: 900,
          h2: 900,
          h3: 900,
          t1: 400,
          t2: 300,
          t3: 300,
          ph1: 900,
          ph2: 400,
          p1: 400,
          p2: 400,
          p3: 400,
          q: 400,
          q1: 400,

  );
}

// Zwraca zmapowany

@function font-weight( $level ) {
  @return map-get( font-weights(), $level );
}