/*
Sections

Card for presenting job offer

Markup: ../../../../styleguide/templates/templates/sections.html

Wrapper:
<div style="padding: 20px; width: 550px;">
<wrapper-content/>
</div>

Style guide: Templates.sections

*/

$class-name-section: sii-t-section;

.#{$class-name-section} {


  &.-primary-color-section {

    background-color: get-color(primary);

  }

  &.-third-color-section {

    background-color: get-color(third);

  }

  &.-invert-color-section {

    background-color: get-color(invert);

  }

  &.-invert-bottom {

    position: relative;

    &:before {

      width: 100%;
      content: '';
      height: 25rem;
      display: block;
      position: absolute;
      bottom: 0;
      background: get-color(invert);

    }


  }


  &.-third-gradient-section {

    margin-top: 22rem;
    position: relative;
    z-index: 0;
    background-color: get-color(third);

    .#{$class-name-section}__container {

      transform: translateY(-22rem);
      position: relative;
      z-index: 1;

    }

    &:before {

      position: absolute;
      width: 100%;
      height: 22rem;
      background-image: linear-gradient(180deg, rgba(14, 110, 224, 0.6) 0%, #0E6EE0 100%);
      display: block;
      content: '';
      top: -22rem;
      z-index: 1;

    }



  }

  &.-invert-section {

    background: get-color(invert);

  }

  &.-content-section {

    padding: 3rem 0;

  }

  .#{$class-name-section}__asymetric-container {

    width: auto;
    margin-left: calc((100% - (#{$layout-width} + #{$layout-grid-gutter})) / 2);
    overflow: hidden;
    padding-left: $layout-grid-gutter/2;


  }

  .container {

    width: $layout-width + $layout-grid-gutter;
    max-width: 100%;

  }



}