.icon {
  background-image: url(sprites/sprite-d3abe5b5.svg);
}

.icon--Home_Icon {
  background-image: url(sprites/sprite-d3abe5b5.svg);
  width: 512px;
  height: 512px;
  background-position: 0 0;
}

.icon--el_cross_1 {
  background-image: url(sprites/sprite-d3abe5b5.svg);
  width: 12px;
  height: 12px;
  background-position: 91.26559714795009% 12.1466%;
}

.icon--facebook-app-logo {
  background-image: url(sprites/sprite-d3abe5b5.svg);
  width: 60.734px;
  height: 60.733px;
  background-position: 99.94807385225646% 0;
}
