<div class="sii-o-card-job {{modifier_class}}">

    <h3 class="sii-o-card-job__title"><a href="#">{{title}}</a></h3>
    <dl class="sii-o-card-job__location">
        <dt class="sii-o-card-job__location__label">Location</dt>
        <dd class="sii-o-card-job__location__cities">{{locations}}
        </dd>

        <!-- inne terminy i definicje -->
    </dl>
    <div class="sii-o-card-job__more">
        {{> "icon-buttons" text="View and apply" modifier_class="-small -invert"}}
    </div>


    <div class="sii-o-card-job__footer">
        <span>Share</span>{{> "social-menu--share-menu" modifier_class="sii-o-card-job__footer__share -share-menu -small -invert"}}
        {{> "buttons" text="Refer a friend and get a bonus" modifier_class="sii-o-card-job__footer__link -invert -link"}}
    </div>


</div>

