<div class="sii-o-footer-bar {{modifier_class}}">


    <div class="sii-o-footer-bar__column">

        <h4 class="sii-o-footer-bar__column__title">{{column1_title}}</h4>

        {{> "nav-menu" modifier_class="-vertical-menu -invert -small"}}

    </div>
    <div class="sii-o-footer-bar__column">

        <h4 class="sii-o-footer-bar__column__title">{{column2_title}}</h4>

        {{> "nav-menu" column="true" column2="true" modifier_class="-vertical-menu -invert -small"}}

    </div>
    <div class="sii-o-footer-bar__column">

        <h4 class="sii-o-footer-bar__column__title">{{column3_title}}</h4>

        {{> "nav-menu" column="true" column3="true" modifier_class="-vertical-menu -invert -small"}}

    </div>
    <div class="sii-o-footer-bar__column">
        <h4 class="sii-o-footer-bar__column__title">{{column4_title}}</h4>

        {{> "nav-menu" column="true" column4="true" modifier_class="-vertical-menu -invert -small"}}

    </div>
    <div class="sii-o-footer-bar__column">
        <h4 class="sii-o-footer-bar__column__title">{{column5_title}}</h4>

        {{> "nav-menu" column="true" column5="true" modifier_class="-vertical-menu -invert -small"}}

    </div>
    <div class="sii-o-footer-bar__column">
        <h4 class="sii-o-footer-bar__column__title">{{column6_title}}</h4>

        {{> "nav-menu" column="true" column6="true" modifier_class="-vertical-menu -invert -small"}}

    </div>
    <div class="sii-o-footer-bar__column">
        <h4 class="sii-o-footer-bar__column__title">{{column7_title}}</h4>

        {{> "social-menu" modifier_class="-invert"}}

    </div>


</div>

