<div class="sii-o-hero-box-full">
    <div class="sii-m-hero-box {{modifier_class}}">
        <div class="sii-m-hero-box__empty"></div>
        <div class="sii-m-hero-box__container">
            <div class="sii-m-hero-box__content">
                <h2 class="sii-m-hero-box__content__title">{{title_left}}</h2>
                <p class="sii-m-hero-box__content__desc">{{description_left}}</p>
                <p>
                    <a href="#" class="sii-a-button -secondary">Send your request</a>
                </p>
            </div>
            <div class="sii-m-hero-box__image">
                <img src="../../resources/images/SII__105713.png" alt="Get an offer">
                <div class="sii-m-hero-box__image__desc">
                    <p>
                        <span>{{imagePerson_left}}</span>
                        {{imageDesc_left}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="sii-m-hero-box -reverse">
        <div class="sii-m-hero-box__empty"></div>
        <div class="sii-m-hero-box__container">
            <div class="sii-m-hero-box__content">
                <h2 class="sii-m-hero-box__content__title">{{title_right}}</h2>
                <p class="sii-m-hero-box__content__desc">{{description_right}}</p>
                <p>
                    <a href="#" class="sii-a-button -invertBg">Join Sii</a>
                </p>
            </div>
            <div class="sii-m-hero-box__image">
                <img src="../../resources/images/Sii_101815.png" alt="Build your career">
                <div class="sii-m-hero-box__image__desc">
                    <p>
                        <span>{{imagePerson_right}}</span>
                        {{imageDesc_right}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>