<div class="sii-o-menu-rounded-large">
    <div class="sii-o-menu-rounded-large__container">
        <div class="sii-o-menu-rounded-large__content">
            <div class="sii-o-menu-rounded-large__content__title">
                <h2>{{title}}</h2>
            </div>
        </div>
        <div class="sii-o-menu-rounded-large__list">
            {{#each labels}}
            <div class="sii-o-menu-rounded-large__list__item">
                {{> "badge-menu-item"}}
            </div>
            {{/each}}
        </div>
    </div>
</div>