<div class="sii-o-nav-bar">
    <h4 class="sii-o-nav-bar__brand-logo">
        <a href="#" class="sii-o-nav-bar__brand-logo-link">
            <img src="{{logo}}" alt="Sii Poland"/>
        </a>
    </h4>

    <div class="sii-o-nav-bar__item">

        <div class="sii-o-nav-bar__item__nav-top">

            {{> "buttons" text="Contact Us" modifier_class="-small -secondary"}}

        </div>
        <div class="sii-o-nav-bar__item__nav-main">

            {{> "nav-menu"  modifier_class="-invert -main-menu"}}

        </div>
    </div>
</div>

