<div class="sii-o-news-box">
    <h3 class="sii-o-news-box__box-title">See what's new in software development in Sii</h3>
    <div class="row">

        <div class="col-sm-4">
            <h4 class="sii-o-news-box__column-title">Upcoming events</h4>
            {{> "card-item"}}

        </div>
        <div class="col-sm-4">
            <h4 class="sii-o-news-box__column-title">Most recent blog posts</h4>
            {{> "card-item"}}

        </div>
        <div class="col-sm-4">
            <h4 class="sii-o-news-box__column-title">&nbsp;</h4>
            {{> "badge-item" modifier_class="sii-o-news-box__item"}}
            {{> "badge-item" modifier_class="sii-o-news-box__item"}}
            {{> "badge-item" modifier_class="sii-o-news-box__item"}}

        </div>
    </div>
    {{> "icon-buttons" modifier_class="-small sii-o-news-box__more" text="More news"}}
</div>




