<div class="sii-o-newsletter">

    <div class="sii-o-newsletter__title">{{title}}</div>
    <div class="sii-o-newsletter__subtitle">{{subtitle}}</div>
    <div class="sii-o-newsletter__form">
        {{> "input-line" modifier_class="sii-o-newsletter__form__input"}}
        {{> "badge-buttons" modifier_class="sii-o-newsletter__form__button"}}
    </div>
    {{> "checkbox-line" modifier_class="sii-o-newsletter__checkbox"}}
</div>




