<div class="sii-o-slider -testimonials-large">

    <h3 class="sii-o-slider__title">{{title}}</h3>

    <div class="sii-o-slider__navigation">
        {{> "nav-arrow" modifier_class="-invert sii-o-slider__navigation__arrows"}}

    </div>

        <ul class="sii-o-slider__content">
            <li class="sii-o-slider__content__item -active-slide">
                <div class="sii-o-slider__content__item__testimonial">
                    {{> "testimonial-item"}}
                    {{> "info-box"}}
                </div>

            </li>
            <li class="sii-o-slider__content__item -active-slide">
                <div class="sii-o-slider__content__item__testimonial">
                    {{> "testimonial-item"  author="Kurt Walther," company="Senior Head of Global IT, PUMA"
                    logo="../assets/images/logo-puma.png"  text="Crucial for us is that Sii can provide high-expertise project teams within a relatively short time. Their engineers are experts in their respective"}}
                    {{> "info-box" title="Development of a new product lifecycle management system" content1="About:" content2="Support in building a product lifecycle management system to organize internal product design and development processes – from concept to final product."}}
                </div>

            </li>
            <li class="sii-o-slider__content__item -active-slide">
                <div class="sii-o-slider__content__item__testimonial">
                    {{> "testimonial-item"  author="Kurt Walther," company="Senior Head of Global IT, PUMA"
                    logo="../assets/images/logo-puma.png"  text="Crucial for us is that Sii can provide high-expertise project teams within a relatively short time. Their engineers are experts in their respective"}}
                    {{> "info-box" title="Development of a new product lifecycle management system" content1="About:" content2="Support in building a product lifecycle management system to organize internal product design and development processes – from concept to final product."}}
                </div>

            </li>


        </ul>

</div>

