<div class="sii-o-slider -movies">

    <h3 class="sii-o-slider__title">Sii Great Place to Work 2018</h3>

    <div class="sii-o-slider__navigation">
        {{> "nav-arrow" modifier_class="-secondary sii-o-slider__navigation__arrows"}}
        {{> "buttons" text="See all videos" modifier_class="-small"}}
    </div>

        <ul class="sii-o-slider__content">
            <li class="sii-o-slider__content__item -active-slide">
                <h4>Road to success Sii</h4>
                {{> "video-image" modifier_class="-large"}}
            </li>
            <li class="sii-o-slider__content__item">
                <h4>Road to success Sii</h4>
                {{> "video-image"}}
            </li>
            <li class="sii-o-slider__content__item">
                <h4>Sii Your Future</h4>
                {{> "video-image"}}
            </li>
            <li class="sii-o-slider__content__item">
                <h4>An interview with Sabre</h4>
                {{> "video-image"}}
            </li>
            <li class="sii-o-slider__content__item">
                <h4>Road to success Sii</h4>
                {{> "video-image"}}
            </li>
            <li class="sii-o-slider__content__item">
                <h4>An interview with Sabre</h4>
                {{> "video-image"}}
            </li>

        </ul>

</div>

