<div class="sii-o-slider -clients">

    <h3 class="sii-o-slider__title">We are trusted by various industries</h3>

    <div class="sii-o-slider__navigation">
        {{> "nav-arrow" modifier_class="-invert sii-o-slider__navigation__arrows"}}

    </div>
    <div class="sii-o-slider__tabs">
        {{> "nav-tabs" modifier_class="-invert sii-o-slider__navigation__arrows"}}
    </div>

    <ul class="sii-m-column-list sii-o-slider__content">
        <li class="sii-m-column-list__item" >
            <div class="sii-m-card-logo -small">
                <div class="sii-m-card-logo__image">
                    <img src="{{logo1}}" alt="image" />
                </div>

            </div>
        </li>
        <li class="sii-m-column-list__item">
            <div class="sii-m-card-logo -small">
                <div class="sii-m-card-logo__image">
                    <img src="{{logo2}}" alt="image" />
                </div>
            </div>
        </li>
        <li class="sii-m-column-list__item">
            <div class="sii-m-card-logo -small">
                <div class="sii-m-card-logo__image">
                    <img src="{{logo3}}" alt="image" />
                </div>
            </div>
        </li>
        <li class="sii-m-column-list__item">
            <div class="sii-m-card-logo -small">
                <div class="sii-m-card-logo__image">
                    <img src="{{logo4}}" alt="image" />
                </div>
            </div>
        </li>
        <li class="sii-m-column-list__item">
            <div class="sii-m-card-logo -small">
                <div class="sii-m-card-logo__image">
                    <img src="{{logo5}}" alt="image" />
                </div>
            </div>
        </li>
        <li class="sii-m-column-list__item">
            <div class="sii-m-card-logo -small">
                <div class="sii-m-card-logo__image">
                    <img src="{{logo6}}" alt="image" />
                </div>
            </div>
        </li>

    </ul>
   
    {{> "icon-buttons" text="All case studies" modifier_class="sii-o-slider__more -small -invert"}}

</div>

