<div class="sii-o-slider {{modifier_class}}">

    <div class="sii-o-slider__navigation">
        {{> "nav-arrow" modifier_class="-secondary sii-o-slider__navigation__arrows"}}
    </div>

        <ul class="sii-o-slider__content">
            <li class="sii-o-slider__content__item" >
                <img src="{{logo1}}" alt="image" />
            </li>
            <li class="sii-o-slider__content__item">
                <img src="{{logo2}}" alt="image" />
            </li>
            <li class="sii-o-slider__content__item">
                <img src="{{logo3}}" alt="image" />
            </li>
            <li class="sii-o-slider__content__item">
                <img src="{{logo4}}" alt="image" />
            </li>
            <li class="sii-o-slider__content__item">
                <img src="{{logo5}}" alt="image" />
            </li>
            <li class="sii-o-slider__content__item">
                <img src="{{logo6}}" alt="image" />
            </li>

        </ul>

</div>

