<div class="sii-o-top-lead {{modifier_class}}">
    {{> "nav-bar"  modifier_class="-invert -main-menu"}}

    <div class="sii-o-top-lead__header">
        <div class="sii-o-top-lead__header__text">
        {{> "text-heading" text="Passion for technology" modifier_class="-h0"}}
        </div>
        <div class="sii-o-top-lead__header__utilities">

        </div>
    </div>


</div>

