/*
Badgae Item

Badge Item for news

Markup: ../../../../styleguide/templates/molecules/badge-item.html

Wrapper:
<div style="padding: 20px;background: #0E6EE0; width: 370px;">
<wrapper-content/>
</div>

Style guide: Molecules.badge-item

*/

$class-name-badge-item: sii-m-badge-item;

// default menu molecule

.#{$class-name-badge-item} {

  display: flex;
  background: get-color(invert);
  padding: 0.8rem 2rem;
  border-radius: $box-small-radius;
  box-shadow: $box-shadow-1;

  .#{$class-name-badge-item}__icon {

    padding-right: 1rem;
    display: none;
    margin-left: -1rem;

  }

  .#{$class-name-badge-item}__content {

    padding: 0.3rem 0.3rem 0.6rem 0.3rem;

    p {

      padding: 0.7rem 0 0;
      margin: 0;
      font-size: 1.6rem;
      line-height: 1.9rem;

    }

  }

  &:hover {

    border-radius: $box-large-radius;
    background: get-color(secondary);

    .#{$class-name-badge-item}__icon {

        display: block;

    }

    .#{$class-name-badge-item}__content {

      p {

        color: get-color(invert);


      }

      .sii-a-chips-label {

        border-color: get-color(invert);
        color: get-color(invert);

      }

    }

  }

}
