/*
Badge Menu Item

Menu nawigacyjne w formie badge z ikonami


Markup: ../../../../styleguide/templates/molecules/badge-menu-item.html

.-right-icon - badge po prawej stronie
.-title-bottom - tytuł na dole
.-title-bottom-left - tytuł na dole po lewej
.-title-bottom-right - tytuł na dole po prawej
.-box - box shadow

Wrapper:
<div style="padding: 20px;max-width: 1400px; background: #0E6EE0">
<wrapper-content/>
</div>

Style guide: Molecules.badge-menu-item

*/

$class-name-badge-menu: sii-m-badge-menu-item;

// default menu molecule
.#{$class-name-badge-menu} {

  max-width: 30rem;

  .#{$class-name-badge-menu}__link {

    padding: 1rem;
    position: relative;

    display: flex;
    align-items: center;

    .#{$class-name-badge-menu}__link__icon {

      svg {

        fill: get-color(icon-default);

      }

    }

    .#{$class-name-badge-menu}__link__icon-hover {

      display: none;

    }

    &:hover {

        text-decoration: none;

      .#{$class-name-badge-menu}__link__icon {

        display: none;

      }

      .#{$class-name-badge-menu}__link__icon-hover {

        display: flex;

      }

    }

    .#{$class-name-badge-menu}__link__title {

      padding-left: 3rem;
      color: get-color(invert);
      font-weight: 900;
      font-size: 1.8rem;
      line-height: 2rem;

    }

  }

  &.-box {

    max-width: 35rem;

    .#{$class-name-badge-menu}__link {

      background: get-color(invert);
      padding: 0.8rem 1rem;
      border-radius: $box-small-radius;
      box-shadow: $box-shadow-1;

      .#{$class-name-badge-menu}__link__icon {

        box-shadow: none;

        svg {

          fill: get-color(text-default);

        }

      }

      .#{$class-name-badge-menu}__link__icon-hover {

        background: get-color(invert);

        svg {

          fill: get-color(secondary);

        }

      }

      .#{$class-name-badge-menu}__link__title {

        font-size: 1.6rem;
        color: get-color(text-default);
        font-weight: 400;
        padding: 0 4rem 0 1rem;

      }

      &:hover {

        border-radius: $box-large-radius;
        background: get-color(secondary);

        .#{$class-name-badge-menu}__link__title {

          color: get-color(invert)

        }


      }

    }



  }

  &.-right-icon {

    .#{$class-name-badge-menu}__link {

      flex-direction: row-reverse;

      .#{$class-name-badge-menu}__link__title {

        padding-right: 3rem;
        padding-left: 0;
        text-align: right;

      }


    }

  }

  &.-title-bottom {

    max-width: 15rem;

    .#{$class-name-badge-menu}__link {

      flex-direction: column;
      justify-content: center;

      .#{$class-name-badge-menu}__link__icon {



      }

      .#{$class-name-badge-menu}__link__title {

        padding: 2rem 1rem 0 1rem;
        text-align: center;

      }

    }

  }

  &.-title-bottom-right {

    max-width: 20rem;

    .#{$class-name-badge-menu}__link {

      flex-direction: column;
      align-items: flex-start;


      .#{$class-name-badge-menu}__link__title {

        padding: 2rem 0 0 2rem;
        text-align: left;

      }

    }

  }

  &.-title-bottom-left {

    max-width: 20rem;

    .#{$class-name-badge-menu}__link {

      flex-direction: column;
      align-items: flex-end;


      .#{$class-name-badge-menu}__link__title {

        padding: 2rem 2rem 0 1rem;
        text-align: right;

      }

    }

  }

}
