
.sii-m-widget {
  img {
    @include responsive-image();
  }

  &__header {
    padding: 15px 15px;
    border-bottom: 3px solid get-color(primary);

    &__title {
      line-height: line-height(0);
      font-size: font-size(0);
      text-transform: uppercase;
      font-family: font-family(secondary);
    }
  }

  ul {
    @include reset-list();

    padding: $layout-grid-gutter/2;
  }
}
