/*
Buttons group

Grupy przycisków

Markup: ../../../../styleguide/templates/molecules/btn-group.html

Wrapper:
<div style="padding: 20px;background: #0E6EE0">
<wrapper-content/>
</div>

Style guide: Molecules.buttons-group

*/

$class-name-btn-group: sii-m-btn-group;


// default menu molecule
.#{$class-name-btn-group} {

  @include reset-list();
  display: flex;

  // Menu title.


  .#{$class-name-btn-group}__item {

    margin-right: 3rem;

    &:last-child {

      margin: 0;

    }

  }


}
