/*
Card menu

Menu nawigacyjne w formie kart z ikonami


Markup: ../../../../styleguide/templates/molecules/card-menu.html

Wrapper:
<div style="padding: 20px;max-width: 1400px; background: #0E6EE0">
<wrapper-content/>
</div>

Style guide: Molecules.card-menu

*/

$class-name-card-menu: sii-m-card-menu;

// default menu molecule
.#{$class-name-card-menu} {

  @include reset-list();
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem 0 -1rem;

  .#{$class-name-card-menu}__item {
    width: 25%;
    padding: 1rem;
    position: relative;
    align-items: stretch;

    &:after {

      content: '';
      display: block;
      width: 0;
      border-right: 1px solid get-color(invert);
      height: 7.5rem;
      position: absolute;
      top: 4rem;
      right: 0;
      opacity: 0.5;

    }

    &:nth-child(4n) {

      &:after {

        display: none;

      }

    }

    .#{$class-name-card-menu}__item__link {

      display: flex;
      flex-direction: column;
      color: get-color(invert);
      padding: 3rem 3rem 1.5rem 3rem;
      border-radius: $box-small-radius;

      .#{$class-name-card-menu}__item__link__icon {

        padding: 0 0 7px 0;

        svg {

          width: 3.4rem;
          height: 3.4rem;
          fill: get-color(invert);

        }

      }

      .#{$class-name-card-menu}__item__link__title {

        font-size: 1.8rem;
        font-weight: 900;

      }

      .#{$class-name-card-menu}__item__link__button {

        @extend .sii-a-icon-button;
        color: get-color(invert);
        font-size: 1.2rem;
        visibility: hidden;
        padding-top: 3px;
        padding-bottom: 3px;

        svg {

          fill: get-color(invert);
          width: 1rem;
          height: 1.4rem;
          margin-left: 1.1rem;

        }

      }

    }

    &:hover {

      .#{$class-name-card-menu}__item__link {
        text-decoration: none;
        background: get-color(secondary);
        box-shadow: $box-shadow-1;
        padding: 2rem 3rem 1.5rem;
        margin-bottom: 1rem;

        .#{$class-name-card-menu}__item__link__button {
          visibility: visible;
        }
      }

    }
  }

}
