/*
Card Logo

Card for logo

Markup: ../../../../styleguide/templates/molecules/card-logo.html

.-small - small version
.-medium - medium version

Wrapper:
<div style="padding: 20px;background: #0E6EE0; width: 490px;">
<wrapper-content/>
</div>

Style guide: Molecules.card-logo

*/

$class-name-card-logo: sii-m-card-logo;

// default menu molecule

.#{$class-name-card-logo} {

  position: relative;
  padding: 0;
  border-radius:$box-small-radius;
  overflow: hidden;
  width: 27rem;
  background: get-color(invert);


  .#{$class-name-card-logo}__image {

    width: 100%;
    min-height: 14rem;
    padding: 3rem 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: $box-shadow-1;

    img {

      display: block;

    }

  }

  .#{$class-name-card-logo}__description {

    width: 100%;
    padding: 3.5rem 2.5rem;
    box-shadow: $box-shadow-1;


  }

  // small & medium version

  &.-small,
  &.-medium{

    width: 17rem;
    height: 15rem;
    box-shadow: $box-shadow-1;

    .#{$class-name-card-logo}__image {

      padding: 3rem 1.5rem;
      box-shadow: none;
      min-height: 100%;
      max-width: 100%;

      img {

        max-width: 100%;

      }

    }

    .#{$class-name-card-logo}__description {
      display: none;
    }

  }

  // medium

  &.-medium {

    width: 27rem;
    height: 12.4rem;

    .#{$class-name-card-logo}__image {

      padding: 1.5rem;

    }


  }

}
