/*
Card Item

Card Item for news

Markup: ../../../../styleguide/templates/molecules/card-item.html

Wrapper:
<div style="padding: 20px;background: #0E6EE0; width: 490px;">
<wrapper-content/>
</div>

Style guide: Molecules.card-item

*/

$class-name-card-item: sii-m-card-item;

// default menu molecule

.#{$class-name-card-item} {

  position: relative;
  padding: 0;
  border-radius:$box-small-radius;
  overflow: hidden;

  .#{$class-name-card-item}__image {

    height: 28.5rem;
    overflow: hidden;

    img {

      display: block;

    }

  }

  .#{$class-name-card-item}__content {

    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2rem 2rem 3rem 2rem;
    height: 55%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;



    .#{$class-name-card-item}__content__title {

      color: get-color(invert);
      margin: 2rem 0;

    }



  }

}
