/*
Checkbox Line

Single checkbox line

Markup: ../../../../styleguide/templates/molecules/checkbox-line.html

Wrapper:
<div style="padding: 20px; width: 550px;">
<wrapper-content/>
</div>

Style guide: Molecules.checkbox-line

*/

$class-name-checkbox-line: sii-m-checkbox-line;

.#{$class-name-checkbox-line} {

  display: flex;
  padding-left: 3.9rem;
  align-items: center;

  input {
    margin: 0 1rem 0 0;
  }

  label {

    font-size: 1.2rem;

  }

}