/*
Column list

Column list for logos or other elements


Markup: ../../../../styleguide/templates/molecules/column-list.html

Wrapper:
<div style="padding: 20px;">
<wrapper-content/>
</div>

Style guide: Molecules.column-list

*/

$class-name-column-list: sii-m-column-list;

// default menu molecule
.#{$class-name-column-list} {

  @include reset-list();
  display: flex;
  align-items: center;

  // Menu title.
  .#{$class-name-column-list}__item {

      padding: 2rem 1.5rem;

    &:first-child {
      margin-left: -1.5rem;
    }

    &:last-child {
      margin-right: -1.5rem;
    }


  }



}
