/*
Contact Box

Large Contact Box

Markup: ../../../../styleguide/templates/molecules/contact-box.html

Wrapper:
<div style="padding: 20px;width: 440px;background: #0E6EE0">
<wrapper-content/>
</div>

Style guide: Molecules.contact-box

*/


$class-name-contact-box: sii-m-contact-box;

.#{$class-name-contact-box} {
  display: flex;
  flex-direction: column;
  justify-content: left;

  .#{$class-name-contact-box}__address {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 2rem;

    &__icon {
      margin: 0 30px;
      svg {
        width: 3.6rem;
        height: 3.9rem;
        fill: get-color(invert);
      }
    }

    &__content {
      max-width: 26.8rem;
      color: get-color(invert);

      &__text {
        font-size: 1.6rem;
        font-weight: 400;
        margin-bottom: 0;
        line-height: 2.8rem;
      }
      &__mail {
        color: get-color(invert);
      }
    }
  }

  .#{$class-name-contact-box}__contact {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 2rem;

    &__icon {
      margin: 0 30px;
      svg {
        width: 3.6rem;
        height: 3.9rem;
        fill: get-color(invert);
      }
    }

    &__content {
      max-width: 26.8rem;
      color: get-color(invert);

      &__text {
        font-size: 1.6rem;
        font-weight: 400;
        margin-bottom: 0;
        line-height: 2.8rem;
      }
      &__mail {
        color: get-color(invert);
      }
    }
  }

}
