/*
Feature Box

Box for features

Markup: ../../../../styleguide/templates/molecules/feature-box.html

Wrapper:
<div style="padding: 20px;width: 370px;">
<wrapper-content/>
</div>

Style guide: Molecules.feature-box

*/


$class-name-feature-box: sii-m-feature-box;

.#{$class-name-feature-box} {

  display: flex;
  flex-direction: column;

  .#{$class-name-feature-box}__title {

    display: flex;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    align-items: flex-end;
    font-weight: 900;


    svg {

      width: 4rem;
      height: 4rem;
      fill: get-color(third);


    }

    span {

      padding: 0 2rem 0.5rem 2rem;
      color: get-color(text-color);

    }

  }

  .#{$class-name-feature-box}__content {

    p {

      line-height: 2.7rem;
      font-size: 1.4rem;
      margin: 0;

    }

  }

}
