/*
Hero box

Hero box component

Markup: ../../../../styleguide/templates/molecules/hero-box.html

Wrapper:
<div style="height: 61.7rem; width:190rem; margin-bottom:20px;">
<wrapper-content/>
</div>

Style guide: Molecules.hero-box

*/

$class-name-hero-box: sii-m-hero-box;

.#{$class-name-hero-box} {
  width: calc(50% + 10rem);
  overflow: hidden;

  &__empty {
    height: 15rem;
  }

  &__container {
    background: get-color(invert);
    height: 46.7rem;
    width: calc(100% - 10rem);
    padding-left: 37.5rem;
    display: flex;
    justify-content: left;
    align-items: center;
    box-shadow: 0 -8px 50px 0 rgba(0, 0, 0, 0.05), 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  }

  &__content {
    margin-top: 7.4rem;
    align-self: flex-start;
    width: 100%;

    &__title {
      margin-bottom: 1rem;
      max-width: 14.3rem;
      line-height: 5rem;
    }

    &__desc {
      margin-bottom: 2.5rem;
      line-height: 28px;
      max-width: 30rem;
    }

  }

  &__image {
    position: relative;
    width: 50%;

    img {
      max-height: 71.4rem;
    }

    &__desc {
      position: absolute;
      bottom: 25%;
      right: 90%;
      width: 38.4rem;

      p {
        text-align: right;
        span {
          font-weight: 900;
          display: block;
        }
      };
    }
  }


/*
Hero box - reverse

Hero box component

.-reverse - hero box odwrócona kolejność kolumn

Markup: ../../../../styleguide/templates/molecules/hero-box--reverse.html

Wrapper:
<div style="height: 61.7rem; width:190rem; margin-bottom:20px">
<wrapper-content/>
</div>

Style guide: Molecules.hero-box--reverse

*/

  &.-reverse {
    color: get-color(invert);
    padding-left: 10rem;

    .#{$class-name-hero-box} {

      &__container {
        background: get-color(primary);
        width: 100%;
        flex-direction: row-reverse;
        padding-left: 0;
        padding-right: 37.5rem;
      }

      &__content {

        &__title {
          max-width: 30rem;
          text-align: right;
          float: right;
        }

        &__desc {
          text-align: right;
          float: right;
        }

        .sii-a-button {
          float: right;
        }

      }

      &__image {
        img {
          transform: translateX(-30%);
          max-height: 66.2rem;
        }
        &__desc {
          left: 105%;
          p {
            text-align:left;
          }
        }
      }

    }

  }

}