/*
Info Box

Large Info Box

Markup: ../../../../styleguide/templates/molecules/info-box.html

Wrapper:
<div style="padding: 20px;width: 670px;background: #FF3A88">
<wrapper-content/>
</div>

Style guide: Molecules.info-box

*/


$class-name-info-box: sii-m-info-box;

.#{$class-name-info-box} {

  padding: 5.5rem 10.5rem;
  max-width: 70.5rem;
  background: get-color(invert);
  box-shadow: $box-shadow-1;
  min-height: 39rem;


  .#{$class-name-info-box}__content {


    padding: 0 0 4rem 0;



    .#{$class-name-info-box}__content__title {

      font-size: 2.3rem;
      line-height: 3rem;
      margin-bottom: 3.7rem;

    }





  }

  p {

    margin-bottom: 2rem;
    line-height: 2.7rem;
    font-size: 1.4rem;

  }

}
