/*
Input Line

Single text input line

.-error - Error version

Markup: ../../../../styleguide/templates/molecules/input-line.html

Wrapper:
<div style="padding: 20px; width: 550px;">
<wrapper-content/>
</div>

Style guide: Molecules.input-line

*/

$class-name-input-line: sii-m-input-line;

.#{$class-name-input-line} {



  
  position: relative;

  input {

    margin: 0 1rem 0 0;


    &:focus,
    &:valid{

      + label {

        font-size: 1rem;
        padding: 0.9rem 0 0 4rem;

      }

    }

  }

  label {

    position: absolute;
    top: 0;
    left: 0;
    cursor: text;
    padding: $input-padding;
    font-size: $input-font-size;
    line-height: $input-line-height;
    font-weight: $input-label-font-weight;
    transition: all .15s ease-in-out;

  }

  .#{$class-name-input-line}__error {

    position: absolute;
    top: 0;
    right: 4rem;
    font-size: 1rem;
    line-height: $input-line-height;
    font-weight: $input-label-font-weight;
    padding: 0.9rem 0 0 0;
    color: get-color(alert);
    display: none;

  }

  &.-error {

    .#{$class-name-input-line}__error {

      display: block;

    }

    input {

      color: get-color(alert);

    }

  }

}