/*
Navigation Arrows

Navigation arrow component

.-invert - menu odwrócone
.-secondary - secondary version
.-small - small version
.-small.-secondary - secondary small version


Markup: ../../../../styleguide/templates/molecules/nav-arrow.html

Wrapper:
<div style="padding: 20px;background: #FF3A88">
<wrapper-content/>
</div>

Style guide: Molecules.nav-arrow

*/

$class-name-nav-arrow: sii-m-nav-arrow;

// default menu molecule
.#{$class-name-nav-arrow} {

  @include reset-list();
  display: flex;
  height: 2.2rem;

  .#{$class-name-nav-arrow}__item {


    .#{$class-name-nav-arrow}__item__link {

      display: block;
      width: 100%;



      svg {

        width: 2.2rem;
        height: 2.2rem;


      }

    }

    &:last-child {

      padding-left: 1.8rem;

    }

  }

  &.-invert {

    .#{$class-name-nav-arrow}__item {

      .#{$class-name-nav-arrow}__item__link {

        svg {

          fill: get-color(invert);

        }

      }

    }

  }

  &.-secondary {


    .#{$class-name-nav-arrow}__item {

      .#{$class-name-nav-arrow}__item__link {

        svg {

          fill: get-color(secondary);

        }

      }

    }

  }

  &.-small {

    .#{$class-name-nav-arrow}__item {

      .#{$class-name-nav-arrow}__item__link {

        svg {

          width: 1.5rem;
          height: 1.5rem;

        }



      }

    }


  }


}
