/*
Navigation Tabs

Navigation tabs component

.-invert - menu odwrócone

Markup: ../../../../styleguide/templates/molecules/nav-tabs.html

Wrapper:
<div style="padding: 20px;background: #FF3A88">
<wrapper-content/>
</div>

Style guide: Molecules.nav-tabs

*/

$class-name-nav-tabs: sii-m-nav-tabs;

// default menu molecule
.#{$class-name-nav-tabs} {

  @include reset-list();
  display: flex;
  flex-wrap: wrap;

  // Menu title.

  .#{$class-name-nav-tabs}__item {

    margin: 0.5rem 4.8rem 0.5rem 0;

    .#{$class-name-nav-tabs}__item__link {

      text-transform: uppercase;
      font-size: 1.4rem;
      font-weight: 900;
      line-height: 1.7rem;
      opacity: 0.4;

      &:hover {

        text-decoration: none;
        opacity: 1;

      }

    }

    &.-selected-item {

      .#{$class-name-nav-tabs}__item__link {

        opacity: 1;

      }

    }
  }

  &.-invert {

    .#{$class-name-nav-tabs}__item {

      .#{$class-name-nav-tabs}__item__link {

        color: get-color(invert);

      }


    }


  }

}
