/*
Navigation menu

Navigation menu component

.-main-menu - menu główne
.-vertical-menu - menu horyzontalne
.-small - pomniejszone menu

Markup: ../../../../styleguide/templates/molecules/nav-menu.html

Wrapper:
<div style="padding: 20px;>
<wrapper-content/>
</div>

Style guide: Molecules.nav-menu

*/

$class-name-nav-menu: sii-m-nav-menu;

// default menu molecule
.#{$class-name-nav-menu} {

  @include reset-list();
  display: flex;

  // Menu title.
  &__title {}

  .#{$class-name-nav-menu}__sub-nav {

    list-style: none;
    min-width: $sub-nav-width;

  }


  .#{$class-name-nav-menu}__item {

    text-transform: uppercase;
    display: flex;
    align-items: baseline;


    a {

      font-size: $nav-font-size;
      line-height: $nav-line-height;
      padding: $nav-item-padding;
      text-decoration: none;
      font-weight: bold;
      color: $nav-item-link-color;
      display: flex;
      align-items: center;
      height: 100%;


      svg {

        fill: $nav-item-link-color;
        width: 1.7rem;
        height: 1.7rem;

      }


      &:hover{


      }

    }
  }

  &__sub-nav__item {

    display: block;

  }


  &.-main-menu {

    margin-bottom: -1px;

    .#{$class-name-nav-menu}__item {

      a {

        padding-bottom: 1.4rem;
        border-bottom: 1px solid transparent;
        position: relative;


        &:hover {

          &:before {

            content: '';
            display: block;
            height: 1px;
            border-bottom: 1px solid $nav-item-link-color;
            position: absolute;
            bottom: -1px;
            left: 1.5rem;
            right: 1.5rem;

          }

        }

      }

    }

    /*
Navigation menu - invert

Navigation menu component

.-invert - menu inverted color
.-invert.-main-menu - main menu inverted version
.-vertical-menu.-small.-invert - small vertical menu

Markup: ../../../../styleguide/templates/molecules/nav-menu--invert.html

Wrapper:
<div style="padding: 20px;background: #0E6EE0">
<wrapper-content/>
</div>

Style guide: Molecules.nav-menu--invert

*/

    &.-invert {

      .#{$class-name-nav-menu}__item {

        a {
          &:hover {

            &:before {

              border-bottom: 1px solid get-color(invert);

            }

          }
        }


      }



    }

  }

  &.-vertical-menu {

    flex-direction: column;

    .#{$class-name-nav-menu}__item {

      text-transform: none;
      margin-bottom: 3px;


      a {

        font-weight: normal;
        font-size: 1.4rem;

        &:hover {

          text-decoration: underline;

        }

      }

    }

    &.-small {

      .#{$class-name-nav-menu}__item {

        a {

          font-size: 1.2rem;
          padding: 0;
          font-weight: 400;

        }


      }

    }

  }

  &.-invert {

    .#{$class-name-nav-menu}__item {


      a {

        color: get-color(invert);

        svg {

          fill: get-color(invert);

        }


      }

    }

  }


}
