
.sii-m-breadcrumbs {
  @include reset-list();

  padding: 8px 0;

  &__item {
    float: left;
    color: get-color(text-default);

    a {
      color: get-color(text-default);

      &:hover {
        color: get-color(primary);
        text-decoration: none;
      }
    }

    &__separator {
      display: inline-block;
      padding: 0 10px;
    }
  }
}
