/*
Section Header

Nagłówek sekcji

.-invert - biała wersja kolorystyczna

Markup: ../../../../styleguide/templates/molecules/section-header.html

Wrapper:
<div style="padding: 20px;background: #0E6EE0; width: 870px;">
<wrapper-content/>
</div>

Style guide: Molecules.section-header

*/

$class-name-section-header: sii-m-section-header;

// default menu molecule

.#{$class-name-section-header} {

  padding: 2rem 0;


  .#{$class-name-section-header}__title {

    margin-bottom: 0.5rem;

  }

  .#{$class-name-section-header}__subtitle {

  }

  &.-invert {

    * {

      color: get-color(invert);

    }

  }

}
