/*
Short Info Box

Badge Item for news

Markup: ../../../../styleguide/templates/molecules/short-info-box.html

Wrapper:
<div style="padding: 20px;background: #0E6EE0; width: 370px;">
<wrapper-content/>
</div>

Style guide: Molecules.short-info-box

*/

$class-name-short-info-box: sii-m-short-info-box;

.#{$class-name-short-info-box} {

  display: flex;

  .#{$class-name-short-info-box}__media {

    width: 7.6rem;
    height: 4.4rem;
    padding: 0 4rem 0 0;

    svg {

      width: 4.4rem;
      height: 4.4rem;
      fill: get-color(primary);

    }

  }

  .#{$class-name-short-info-box}__content {

    .#{$class-name-short-info-box}__content__title {

      font-size: 2.5rem;
      font-weight: 900;
      line-height: 0.9;
      color: get-color(invert);

    }

    .#{$class-name-short-info-box}__content__subtitle {
      font-size: 1.4rem;
      font-weight: 300;
      color: get-color(invert);
      opacity: 0.9;
    }

  }
  /*
  Short Info Box - number

  Badge Item for news

  Markup: ../../../../styleguide/templates/molecules/short-info-box--number.html

  Wrapper:
  <div style="padding: 20px;background: #0E6EE0; width: 370px;">
  <wrapper-content/>
  </div>

  Style guide: Molecules.short-info-box--number

  */
  &.-number-version {

    align-items: baseline;



    .#{$class-name-short-info-box}__media {

      width: auto;
      height: auto;
      font-weight: 900;
      color: get-color(primary);
      font-size: 4.2rem;
      padding: 0 2.5rem 0 0;

    }

    .#{$class-name-short-info-box}__content {

      .#{$class-name-short-info-box}__content__title {

          font-size: 1.8rem;
        padding-bottom: 1rem;

      }

    }



  }

}
