/*
Social menu

Social nav menu

.-invert - wersja invert

Markup: ../../../../styleguide/templates/molecules/social-menu.html

Wrapper:
<div style="padding: 20px;background: #0E6EE0">
<wrapper-content/>
</div>

Style guide: Molecules.social-menu

*/

$class-name-social-menu: sii-m-social-menu;


// default menu molecule
.#{$class-name-social-menu} {

  @include reset-list();
  display: flex;

  .#{$class-name-social-menu}__item{

    margin-right: 1rem;
    width: 19px;

    svg {

      width: 19px;
      height: 19px;
      fill: get-color(secondary);

    }

  }

  &.-invert {

    .#{$class-name-social-menu}__item{

      svg {

        fill: get-color(invert);

      }

    }

  }

  /*
Social menu - share

Social nav menu

.-share-menu - share menu - small
.-share-menu.-invert - share menu - small - invert

Markup: ../../../../styleguide/templates/molecules/social-menu--share-menu.html

Wrapper:
<div style="padding: 20px;background: #0E6EE0">
<wrapper-content/>
</div>

Style guide: Molecules.social-menu--share

*/

  &.-share-menu {

    .#{$class-name-social-menu}__item{

      margin-right: 0.5rem;
      width: 15px;

      svg {

        width: 14px;
        height: 14px;

      }

    }

  }


}
