/*
Testimonial Item

Card box for testimonials

.-column-direction - display as columns
.-column-direction.-hidden-description - hide description

Markup: ../../../../styleguide/templates/molecules/testimonial-item.html

Wrapper:
<div style="padding: 20px;background: #0E6EE0; width: 600px;">
<wrapper-content/>
</div>

Style guide: Molecules.testimonial-item

*/


$class-name-testimonial-item: sii-m-testimonial-item;

// default menu molecule

.#{$class-name-testimonial-item} {

  background: #fff;
  padding: 5.5rem 7rem 7rem 7rem;
  border-radius:$box-small-radius;
  display: flex;
  flex-direction: column;
  width: 48rem;

  .#{$class-name-testimonial-item}__logo {

    margin-left: -2.5rem;

    img {

      max-width: 17rem;
      height: auto!important;

    }


  }

  .#{$class-name-testimonial-item}__content {

    .#{$class-name-testimonial-item}__content__quote {

      font-size: 1.4rem;
      font-style: italic;
      margin: 5rem 0 3rem;
      line-height: 2.3rem;
      position: relative;
      z-index: 1;

      &:before {

        content:'"';
        display: block;
        font-size: 20rem;
        line-height: 1;
        height: 20rem;
        opacity: 0.1;
        font-weight: 400;
        position: absolute;
        top: -5rem;
        left: -4rem;
        z-index: 0;
        font-family: Times New Roman;

      }

    }

    .#{$class-name-testimonial-item}__content__footer {

      font-size: 1.4rem;
      line-height: 1.9rem;
      margin-bottom: 0;

      strong {
        display: block;
      }

    }

  }

  &.-column-direction {

    flex-direction: row;
    padding: 0;
    width: 56rem;

    .#{$class-name-testimonial-item}__logo {

      padding: 1rem 5.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: $box-shadow-1;
      margin: 0;
      min-height: 27rem;

      img {

        max-width: 16rem;

      }

    }

    .#{$class-name-testimonial-item}__content {

      padding: 4rem 2rem 4.5rem 2.5rem;
      box-shadow: $box-shadow-1;

      .#{$class-name-testimonial-item}__content__quote {

        font-size: 1.3rem;
        margin: 1rem 0;

        &:before {
          top: -3rem;
        }

      }

      .#{$class-name-testimonial-item}__content__footer {

        font-size: 1.2rem;

        strong {

          float: left;
          padding-right: 1rem;


          &:after {

            content: '|';
            display: inline-block;


            margin-left: 0.5rem;

          }

        }


      }


    }

    &.-hidden-description {

      width: 27rem;


      .#{$class-name-testimonial-item}__content {

        display: none;

      }



    }



  }


}
