/*
Video Image

Image Video

Markup: ../../../../styleguide/templates/molecules/video-image.html

.-large - Bigger version

Wrapper:
<div style="padding: 20px;width: 760px;background: #FF3A88">
<wrapper-content/>
</div>

Style guide: Molecules.video-image

*/


$class-name-video-image: sii-m-video-image;

.#{$class-name-video-image} {

  width: 24rem;
  height: 14rem;
  position: relative;
  max-width: 100%;



  .#{$class-name-video-image}__link {


    display: block;


    img {

      max-width: 100%;
      height: auto;

    }





  }

  .#{$class-name-video-image}__play {

    display: none;

  }

  &.-large {

    width: $slider-video-first-slide-width;
    height: $slider-video-first-slide-height;

    .#{$class-name-video-image}__link {

      width: $slider-video-first-slide-width;
      height:  $slider-video-first-slide-height;

    }

    .#{$class-name-video-image}__play {

      display: flex;
      position: absolute;
      z-index: 100;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);


    }

  }

}
